@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .paragraph-margins > p {
        @apply mb-3;
    }
    .section {
        @apply w-full mx-auto md:max-w-4xl py-6;
    }
    .wide-section {
        @apply w-full mx-auto md:max-w-4xl lg:max-w-7xl py-6;
    }
    .h1 {
        @apply text-5xl font-medium leading-tight mt-0 mb-2;
    }
    .h2 {
        @apply text-3xl font-medium leading-tight mt-0 mb-2;
    }
    .h3 {
        @apply text-xl font-medium leading-tight mt-0 mb-2;
    }
    .button {
        @apply inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
    }
    .button-red {
        @apply inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out;
    }
    .masonry-cols-3 {
        column-count: 3;
        column-gap: 1rem;
    }
    .masonry-cols-2 {
        column-count: 2;
        column-gap: 1rem;
    }
    .link {
        @apply underline decoration-gray-400 hover:decoration-blue-400;
    }
}