{{define "error"}}
{{with getIssues .}}
<div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4  my-3" role="alert">
    <p class="font-bold">Error: </p>
    {{range .}}
    <p>{{ . }}</p>
    {{end}}
</div>
{{end}}
{{end}}