{{define "footer"}}
<div class="bg-gray-100 dark:bg-gray-900 text-center py-6">
    <p class="text-lg">
        powered by
        <a href="https://github.com/willbicks/epigram" target="_blank" class="link">Epigram</a>
        &nbsp; | &nbsp;
        <a href="{{ .Paths.Privacy }}" target="_blank" class="link">privacy policy</a>
    </p>
</div>
{{end}}