{{define "footer"}}
<div class="bg-gray-100 text-center py-6">
    <p class="text-lg">
        powered by 
        <a href="https://github.com/willbicks/epigram" target="_blank" class="link">Epigram</a>,
        a Will Bicks project
    </p>
</div>
{{end}}